        /* ********** Reset ********** */
html{
    box-sizing: border-box;
    font-size: 16px; 
    scroll-behavior: smooth; } 

*, *::after, *::before{
    box-sizing: inherit; }

body{
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-color: #F9F6EE; } 

a{  
    color: #222;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out; }

a:hover{
    opacity: .7; }

h1{
    margin: 0;
    font-size: 2rem; }
h2{
    margin: 0;
    font-size: 1.5rem; }
h3{
    margin: 0;
    font-size: 1.25rem; }
h4{
    margin: 0;
    font-size: 1rem; }
h5{
    margin: 0;
    font-size: 0.85rem; }
h6{
    margin: 0;
    font-size: 0.7rem; }

img{
    max-width: 100%;
    height: auto; }

p{
   line-height: 1.6; }

            /****** Header ******/   
.header{
    width: 100vw;
    height: 700px;
    background-image: url('assets/Path\ 1569.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; }

.opacity{
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0,.75); }

.logo-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between; }

.logo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem; }

.navbar{
    background-image: url('assets/Path\ 2538.png');
    background-position-y: -2rem;
    display: none;
    width: 70%; }

.navbar-items{
    margin-top: 2.5rem;
    margin-left: 9.5rem;
    display: flex;
    justify-content: space-evenly; }

.header-center{
    padding: 1.5rem 0;
    height: 380px;    
    display: flex;
    flex-direction: column;
    align-items: center; }

.title-header{
    color: #fff;
    font-size: 8vw;
    text-align: center; }

.p-header{
    width: 60%;
    color: #fff;
    text-align: center;
    opacity: .9; }

.container-btn{
    width: 75%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }

.btn-header-1{    
    width: 200px;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-image: url('assets/Path\ 2537.png');
    background-position: left;
    background-repeat: no-repeat;
    background-color: #ff7d26;
    font-weight: 700; }

.btn-header-2{
    width: 200px;
    margin-top: 1rem;
    background: transparent;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 3px solid #FDC402;
    cursor: pointer;
    font-weight: 700; }

    @media screen and (min-width: 576px) {
        .container-btn{
            flex-direction: row;
            justify-content: space-evenly; }
        .btn-header-2{
            margin-top: 0; }
    }
    
    @media screen and (min-width: 768px) {
        .container-btn{
            width: 60%; }
    }
    
    @media screen and (min-width: 992px) {
        .navbar{
            display: block; }
    }
    
    @media screen and (min-width: 1200px) {
        
    }    

.img-header-1{
    width: 40px;
    opacity: .5;
    position: absolute;
    transform: rotate(60deg);
    top: 190px;
    right: 20px; }

.img-header-2{
    width: 40px;
    opacity: .5;
    position: absolute;
    transform: rotate(35deg);
    top: 180px;
    left: 35px; }

.img-header-3{
    width: 40px;
    opacity: .5;
    position: absolute;
    transform: rotate(120deg);
    bottom: 180px;
    right: 50px; }

.img-header-4{
    width: 40px;
    opacity: .5;
    position: absolute;
    transform: rotate(300deg);
    bottom: 250px;
    left: 15px; }

.container-cards{
    max-width: 1200px;
    width: 250px;
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column; }

.card-1{
    position: relative;
    background-color: rgb(255, 255, 255, .9);
    padding: 1rem 1rem;
    border-radius: 1rem;
    text-align: right; }

.card-1 h2, .card-2 h2{
    font-size: 1.5rem; }

.ico-card-1{
    position: absolute;
    width: 40px;
    top: 10px;
    right: 105px; }

.img-card-1{
    position: absolute;
    width: 150px;
    bottom: -10px;
    left: -65px; }

.card-2{
    position: relative;
    margin-top: 1.5rem;
    background-color: #152838;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 1rem;
    text-align: left; }

.img-card-2{
    position: absolute;
    width: 100px;
    top: -40px;
    right: -20px; }

.ico-card-2{
    position: absolute;
    top: 15px;
    left: 130px;
    width: 40px;
    transform: rotate(-25deg); }

@media screen and (min-width: 576px){
    .container-cards{
        padding-top: 0rem;
        width: 550px;
        flex-direction: row;
    }
    .card-1{
        width: 50%;
        border-top-right-radius: 0;
        border-bottom-right-radius:0;
    }

    .card-2{
        width: 50%;
        margin-top: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius:0;
    }

    .img-header-3{
        right: 80px;
        
    }

    .img-header-4{
        left: 60px;
    }

    .img-card-1{
        left: -20px;
    }
    .img-card-2{
        right: 0px;
    }
}

            /****** Section 1 ******/ 
.section1{
    width: 100%; }

.container-section1{
    padding-top: 11rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }

.img-section1{
    width: 70%; }

@media screen and (min-width: 576px){
    .container-section1{
        padding-top: 0;
    }
    .img-section1{
        width: 55%;
    }
}

@media screen and (min-width: 768px) {
    .container-section1{
        flex-direction: row;
        padding: 6rem;
    }
    .img-section1{
        width: 40%;
    }
}

            /****** Section 2 ******/ 
.container-section2{
    background-color: #EBE8E1;
    position: relative;
    width: 100%;
    padding: 2rem 1.5rem;
    padding-bottom: 4rem;
    max-width: 1200px;
    margin-top: 2rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }

.container-section2 h3{
    margin-bottom: 1rem; }

.img-section2{
    display: none; }

.event{
    width: 400px;
    padding: 0.5rem 1rem;
    display: flex; }

.img-event{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center; }

.text-event{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0 1rem; }

@media screen and (min-width: 576px){   
    .container-section2{
        padding-bottom: 5rem;
    } 
    .event{
        width: 500px;
    }
    .text-event{
        width: 350px;
    }
}
@media screen and (min-width: 768px) {
    .container-section2{
        background-color: #F9F6EE;
        width: 95%;
        margin: auto;
        padding-bottom: 8rem;
        position: relative;
        z-index: 1;        
    }
    .img-section2{
        display: block;
        position: absolute;
        z-index: -1;
        top: 0px;
    }
    .img2-section2{
        background-color: #F9F6EE;
    }
    .event{
        width: 650px;
    }
    .text-event{
        width: 500px;
    }
}
@media screen and (min-width: 992px) {
    .container-section2{
        padding-bottom: 15rem;
        width: 85%;
    }
}

            /****** Section 3 ******/ 
.container-section3{
    width: 100%;
    height: 900px;
    background-image: url(assets/Rectangle\ 25.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    position: relative;
    z-index: 4; }

.opacity-blue{
    width: 100%;
    height: 100%;
    background-color: rgb(21, 42, 59, .85);
    position: relative;  
    z-index: 4; }

.container-img-social-s3{
    width: 90%;
    margin: 0 auto;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.img-top-section3{
    width: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-top: -5rem;
    /*position: absolute;
    top: -80px;
    z-index: 5;    */
}

.container-photos{
    width: 75%;
    height: 45%;
    margin: 2rem auto;
    position: relative; }

.img1-section3{
    position: absolute;
    z-index: 1;
    width: 60%;
    transform: rotate(-10deg);
    top: -10px; }

.img2-section3{
    position: absolute;
    z-index: 2;
    width: 70%;
    right: -10px;
    top: -15px; }

.img3-section3{
    position: absolute;
    z-index: 3;
    width: 70%;
    right: -25px;
    top: 120px; }

.img4-section3{
    position: absolute;
    z-index: 4;
    width: 70%;
    left: -35px;
    top: 110px; }

.container-social{
    width: 90%;
    height: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.title-social{
    color: #FDC402;
    font-size: 3.5rem;
    margin-left: 0; }

.text-img-social{
    display: flex;
    flex-direction: row; }

.text-social{
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem; }

.text-social p{
    margin: 0; }

@media screen and (min-width: 576px){
    .title-social{
        text-align: center;
    }
    .container-photos{
        width: 57%;
    }
    .text-img-social{
        justify-content: center;
    }
}

@media screen and (min-width: 768px){    
    .container-photos{
        width: 47%;
        margin-left: 0;
    }
    .img-top-section3{
        margin-top: -6.5rem;
    }
    .container-social{
        width: 50%;
        margin-right: 0;
        margin-bottom: 9rem;
    }
    .container-section3{
        height: 800px;
    }
}

@media screen and (min-width: 992px){
    .img-top-section3{
        margin-top: -8rem;
    }
    
}

@media screen and (min-width: 1200px){
    .img-top-section3{
        margin-top: -10rem;
    }
}

@media screen and (min-width: 1490px){
    .img-top-section3{
        margin-top: -13.2rem;
    }
}

            /****** Footer ******/
.footer{
    width: 100%;
    background-image: url(assets/Group\ 114.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    background-color: #EF5A24;
    position: relative;
    z-index: 5;
    margin-top: -4rem;
}
.container-footer{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer{
    width: 200px;
}

.info{
    text-align: center;
    padding: 1rem;
    color: rgb(236, 233, 233);
}

.info p{
    margin: 0;
}


.map{
    width: 100%;
}

@media screen and (min-width: 576px){
    .info-footer{
        display: flex;
    }
    .info{
        padding: 1.5rem;
    }
}

        /*Utilities*/

.container{
    max-width: 1200px;
    margin: 0 auto; }

.btn:hover{
    opacity: .75; }

.p-blue{
    color: #1B66A0; }

.p-orange{
    color: #EF5A24; }

.none{
    display: none; }
    
.align-center{
    text-align: center; }